/* hidden from ui*/
#product-thumbnails{ display: none; }
#main-sidebar ul.nav-sidebar:nth-child(2){ display: none; }
#main-sidebar ul.nav-sidebar:nth-child(2){ display: none; }
ul.nav.nav-sidebar:nth-child(2) {
    display: none;
}
/* ./ hidden from ui*/


#spree-header {
    background-color: #00c6e6;
    margin-bottom: 20px;
    padding-top: 0.25em;
}

/*change both these*/
/*product on index*/
.product-list-item img {
	width: 90%;
	height: 90%;
    border-radius: 3px;
    margin-bottom: 4%;
}


/*product on Show*/
#main-image img {
	width: 90%;
	height: 90%;
}
.btn-success {
    color: black;
    font-weight: 700;
    letter-spacing: 1.4px;
    background-color: white;
    border: 3px solid #00c6e6;
}
.btn-success:hover{
	color: #fff;
    background-color: #00c6e6;
    border-color: white;
}

a.cart-info {
    color: black !important;
}
/*sidebar menu items on hover*/
a.list-group-item:hover, a.list-group-item:focus{
    background-color: none !important; 
    background-image: linear-gradient(#fff 90%, #00c6e638) !important;
    text-indent: 1% !important;
}

.list-group-item.active:hover, .list-group-item.active:focus {
    color: #1c5c92 !important;
    letter-spacing: 1.5px;
}

.list-group-item.active{
    background-color: #00c6e6;
    letter-spacing: 1.5px;
}
